@model string

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>title</title>
</head>
<body>
<div>
  <h1>Upload file</h1>
  @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
  { 
    <input type="file" name="Upload" />
    <input type="submit" value="Upload" />
  }
</div>
</body>
</html>