@model string

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>title</title>
</head>
<body>
<div>
  <h1>Decode base64</h1>
  @using (Html.BeginForm("DecodeBase64", "Home", FormMethod.Post))
  { 
    <input type="text" name="binary" value="SGVsbG8hIEkgYW0gQmFzZTY0IHN0cmluZyA7LSk=" style="width: 400px;" />
    <input type="submit" value="Decode" />
  }
</div>
</body>
</html>