@model string

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>title</title>
</head>
<body>
<div>
  <h1>Custom Binder</h1>
  @using (Html.BeginForm("DecodeBase64", "Home", FormMethod.Post))
  { 
    <input type="text" name="region" value="7" />
    <input type="submit" value="Decode" />
  }
</div>
</body>
</html>